<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
          <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
              <div class="row">
                <div class="col-12">
                  <h4 class="card-title">Edit Cars</h4>
                  <p class="card-description">
                    Edit Details
                  </p>
                  <form class="forms-sample" method="post" action="{% url 'update_cars' carid=data.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group" data-select2-id="7">
                    <label>Brand</label>
                    <select class="js-example-basic-single w-100 select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true" name="bname">
                      <option>{{data.Brand}}</option>
                                {% for i in cat %}
                              <option>{{ i.Name }}</option>
                                {% endfor %}
                    </select>
                  </div>
                      <div class="form-group">
                      <label for="exampleInputName1">Car Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" name="p_name" placeholder="Name" value="{{data.Car_Name}}">
                    </div>
                      <div class="form-group">
                      <label for="exampleInputName1">Rental Price</label>
                      <input type="text" class="form-control" id="exampleInputName1" name="price" placeholder="Name" value="{{data.Car_price}}">
                    </div>
                      <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" name="p_description">{{data.C_Description}}</textarea>
                    </div>
                    <div class="form-group">
                      <img src="{{data.Car_Image.url}}" height="100px" width="100px">
                      <label for="exampleTextarea1">Upload Image</label>
                      <input type="file" name="p_img" class="form-control">
<!--                      <div class="input-group col-xs-12">-->
<!--                        <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">-->
<!--                        <span class="input-group-append">-->
<!--                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>-->
<!--                        </span>-->
<!--                      </div>-->
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
</body>
</html>
{% endblock %}